.hero {
    background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), center center no-repeat url(../../static/images/miwhip-1473251-unsplash.jpg);
    background-size: cover;
}

.hero h1 {
    color: white;
}

.hero h2 {
    color: #eee;
}

.box {
    height: 400px;
    padding: 20px;
    color: #fff;
    background: deepskyblue;
  }

  body {
    padding: 0;
    margin: 0;
  }
  
  #map,
  body,
  html {
    height: 100%;
  }
  
  h1 {
    text-align: center;
  }
  
